bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/### DotnetCore template
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules
Migrations/
dev_database.db
*.http
